<div class="w3-row">
  <div class="w3-col w3-container m1">
  </div>
    <div class="w3-col w3-container m10">
<div class="w3-row">
  <a href="{{ site.baseurl }}/">
    <nav-bar>
        <logo>COIA</logo>
    </nav-bar>
  </a>

<header id="header" class="parent justify-spaceBetween">
  <div class="inner w100 relative">
    <span class="f-left">  
      
    </span>
    <span id="nav-links" class="absolute right bottom">
      <!-- Nav pages -->
      <a href="https://coianac.github.io/case-studies">case studies</a>
      <a href="https://coianac.github.io/about">about</a>
    </span>
  </div>
</header>
  </div>
  <div class="w3-col w3-container m1">
  </div>
</div>
